@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

body {
  color: #4a545d;
  font-family: FiraSans-Book, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  background: url(../images/wrapper-bg.jpg) no-repeat;
  background-size:  100%;
}

.wrapper {
  float: none;
  min-height: 100%;
  position: relative;
  min-width: 1200px;
  padding-bottom: 80px;
}


/* HEADER
*/
.header {
  min-height: 84px;
  padding: 35px 0 0;
  position: relative;
  background: #eff3f7;
  min-width: 1200px;
}
.container-header {
  margin: 0 auto;
  position: relative;
  width: 1200px;
  
}

.logo {
  float: left;
  margin: 18px 0 0;
  position: relative;
  width: 243px;
}

.logo-pic {
  float: left;
  margin: 0 14px 0 0;
  width: 50px;
  height: 40px;
}
.logo-text {
  float: left;
  width: 179px;
  height: 42px;
}
.socials {
  float: right;
  position: relative;
  width: 260px;
  margin-right: 5px;
  margin-bottom: 10px;
  
}

.social-icon:first-child {
    margin-left: 0px;
}

.social-icon {
display: inline-block;
width: 47px;
height: 47px;
margin-right: -4px;
}

.soc-link  {
background: url("../images/sprites.png") no-repeat;
display: block;
text-indent: -9999px;
width: 100%;
height: 100%;

}
  
.soc-vk {
  background-position: -50px -1px;
}



.soc-tw {
  background-position: -121px -1px ;
  margin-left: 20px;
}

.soc-fb {
  background-position: -193px -1px ;
  margin-left: 38px;
}

.soc-gh {
  background-position: -264px -1px ;
  margin-left: 55px;
}

.soc-vk:hover{
  background-position: -50px -52px ;
}

.soc-tw:hover{
  background-position: -122px -52px ;
}

.soc-fb:hover{
  background-position: -194px -53px ;
}

.soc-gh:hover {
  background-position: -263px -53px ;
}

.header::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 33px;
    background-color: #1C667A;
    background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
}

.main-content {
  margin: 39px auto 0;
  position: relative;
  width: 960px;
}
.col {
  float: left;
  position: relative;
  width: 250px;
}

.menu {
  margin-bottom: 26px;
font-size: 21px;
overflow: hidden;
border-radius: 4px;
background-color: #EFF3F7;
display: block;
}

.nav-list {
  list-style: none;
  margin-left: 0;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 73px;
  text-decoration: none;
  font-size: 21px;
  border-top: 2px solid #3BA8C0;
  margin: 0px 11px;
}
.nav-item .nav-link {
    font-family: "fira_sansbook";
    font-size: 21px;
    text-decoration: none;
    margin-left: 16px;
    display: block;
    color: #959AA8;
    padding: 20px 0px;
}
.nav-item:first-child {
    border-top: medium none;
}

.nav-item .nav-link {
    font-family: "fira_sansbook";
    font-size: 21px;
    text-decoration: none;
    margin-left: 16px;
    display: block;
    color: #959AA8;
    padding: 20px 0px;
}

.nav-item.active {
    background-color: #3ba8c0;
    color: #f9fafb;
    margin: 0;
    border-bottom: none;
    padding-left: 11px;
    margin-bottom: -2px;
}



.nav-item.active .nav-link {
    color: #F9FAFB;
    font-size: 23px;
}



.nav-link:hover {
  color:  #3ba8c0;
}

.contacts {
  margin: 23px 0 0;
  position: relative;
  z-index: 0;
  -webkit-border-radius: 3.88px 3.88px 0 0/4px 4px 0 0;
  -moz-border-radius: 3.88px 3.88px 0 0/4px 4px 0 0;
  border-radius: 3.88px 3.88px 0 0/4px 4px 0 0;
  color: #F9FAFB;
}

.contact{
line-height: 40px;
display: block;
overflow: hidden;
}
.text-style{
    font-size: 21px;
    padding: 2px 0px 0px 20px;
    background: #3BA8C0 none repeat scroll 0% 0%;
    margin: 0px;
    color: #FFF;
    border-radius: 4px 4px 0px 0px;
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: outside none none;
  text-decoration: none;
}

.contact a {
  text-decoration: none;
  color: #FFF;
  line-height: 40px;
}

.e-mail::before {
  content: url("../images/mail.png");
  top: 4px;
  right: 12px;
  position: relative;
}

.e-mail{
  background: #41b9d4 none repeat scroll 0% 0%;;
  text-align: left;
  padding-left: 35px;
}

.tel-number::before {
  content: url("../images/tel.png");
  top: 4px;
  right: 12px;
  position: relative;
}

.tel-number{
  background: #48CBE8 none repeat scroll 0% 0%;
  text-align: left;
  padding-left: 35px;
}

.skype::before {
  content: url("../images/skype.png");
  top: 4px;
  right: 12px;
  position: relative;
}

.skype {
  background: #51DAF8 none repeat scroll 0% 0%;
  text-align: left;
  padding-left: 35px;
}

.contact:last-child {
  border-radius: 0px 0px 4px 4px;
}

.contact a:hover {
  text-decoration: underline;
}



.col-2 {
  float: right;
  position: relative;
  width: 650px;
}

.contact-me {
  min-height: 281px;
  padding:  0;
  position: relative;
  -webkit-border-radius: 3.95px/4.37px;
  -moz-border-radius: 3.95px/4.37px;
  border-radius: 3.95px/4.37px;
  background: #eff3f7;
  
  min-height: 800px;

}

.contact-title {
  text-align: center;
  color: #FFF;
  font-size: 27px;
  background-color: #48CBE8;
  padding: 25px 60px;
  margin: 0px auto;
  border-bottom: 21px solid #67DFFA;
  border-radius: 3.95px/4.37px;
}

.contact-container {
  width: 400px;
  margin: 40px auto;
}

.contact-form {
  font-family: "fira_sansbook",Arial,sans-serif;
  font-size: 17px;
  color: #4A545D;
}

.name-left {
  float: left;
  width: 190px;
}

.contact-label {
    font-family: fira_sanslight;
    font-size: 19px;
    color: #4A545D;
    padding-bottom: 2px;

}

.input-contact {
      max-width: 190px;
      height: 40px;
      margin-right: 10px;
      padding-left: 8px;
      width: 100%;
      border: 1px solid #48CBE8;
      border-radius: 5px;
      margin-bottom: 17px;
      color: #48cbe8;
}
      
.email-right {
  float: right;
  width: 190px;
}


::-moz-placeholder { 
    color: #48cbe8;
    font-size: 13px;
 font-family: fira_sanslight;
}
:-ms-input-placeholder {  
   color: #48cbe8;
   font-size: 13px;
   font-family: fira_sanslight;
}

.message-area {
  margin-top: 5px;
}

.message-text {
   height: 180px;
   width: 100%;
   padding-left: 8px;
   border: 1px solid #48CBE8;
   border-radius: 5px;
   margin-bottom: 17px;
   border: 1px solid #48CBE8;
   resize: none;
   padding-top: 5px;
   color: #48cbe8;
}

.captcha-text {
  font-family: fira_sanslight;
  font-size: 19px;
  color: #4A545D;
}

.captcha-img {
  float: left;
  width: 190px;
  height: 80px;
  background-color: #FFF;
  border-radius: 2px 3px;
  border: 2px solid #48CBE8;
  overflow: hidden;
}

.c-image {
  margin-top: 15px;
  margin-left: 10px;
}

.c-input {
  float: right;
  width: 190px;

}

.buttons {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.button {
  color: #FFF;
  width: 137px;
  height: 31px;
  border-radius: 5px;
  }

.button-left {
  float: left;
}

.button-right {
  float: right;
}

.submit-button {
  background-color: #48CBE8;
}

.clear-button {
  background-color: #849DB5;
}

.empty {
  height: 25px;
}


.footer::before 
   {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1C667A;
    background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
}


.footer {
    min-width: 1200px;
    height: 80px;
    margin-top: -80px;
    text-align: center;
    font-size: 13px;
    position: relative;
    background: #eff3f7;
    

}

.footer .container-footer {
  margin: 0px auto;

}

.container-footer {
  width: 960px;
}

.login {
  margin-top: -5px;

}

.login-left {
  float: left;
}


.login-link {

  display: block;
  height: 32px;
  width: 20px;
  background-image: url("../images/login.png");
  text-indent: -9999px;
  font-size: 16px;
  line-height: 2.2;
  color: #eff3f7;
}

.login-link:hover {
  background-image: url("../images/unlock.png");
}

.footer-text {
  
  margin-top: 25px;
}

.text-style {
  margin-bottom: -6px;
  margin-top: -5px;
}

.has-error {
  border: 1px solid #f97e76 !important;
  background-color: rgba(249, 126, 118, 0.329) !important;
}

.qtip-mystyle {
  background-color: #f97e76;
  font-family: 'fira_sanslight';
  color: #ffffff;
  font-size: 13px;
  min-width: 130px;
  border-color: #f97e76;
}